<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="waitmsg">
    Page will load in <span id="timer"></span> seconds.
  </div>

  <script>
    let time = 30;
    window.setInterval(() => {
      document.getElementById('timer').innerText(time)
      time--;
    }, 1000)
    window.setTimeout(location.reload, 31000)
  </script>
</body>

</html>